{% extends "base.html.twig" %}

{% block title %}AppBundle:Sales:submitTicket{% endblock %}

{% block body %}
<h1>Welcome to the Sales:submitTicket page</h1>
    <h3>Je vais faire un formulaire</h3>
    <form method="post" action="{{  path('submit') }}"
{% endblock %}
