
submit_ticket:
    path:     /tickets/submit
    defaults: { _controller: AppBundle:Sales:submitTicket }

ticket_submission_successful:
    path:     /tickets/submit/success
    defaults: { _controller: AppBundle:Sales:ticketSubmissionSuccessful }

member_sign_up:
    path:     /members/signup
    methods: ['GET', 'POST']
    defaults: { _controller: AppBundle:Members:signUp }

member_sign_up_successful:
    path:     /members/signup/successful
    defaults: { _controller: AppBundle:Members:signUpSuccessful }
