{% extends "base.html.twig" %}

{% block title %}AppBundle:Login:submitLogin{% endblock %}

{% block body %}

    {% if violations %}
        <ul class="form-errors">
            {% for violation in violations %}
                <li class="form-error">{{ violation.propertyPath }}: {{ violation.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{{ path('login_submission') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"/>

        <input type="submit" name="login"/>
    </form>

{% endblock %}
